@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kaushan+Script&display=swap');
.bgImg{
    background-color:black;
}
.headingColor{
    color:#06fff7;
}
h2,h3,h5{
    font-family:'Kaushan Script', cursive;
}

.headingBorder{
    border-bottom:3px solid #06fff7;
}

.contactSectionBg{
    background-color:#0f384c;
}

p{
    font-family: 'Architects Daughter', cursive;
    font-weight:bold;
}

li{
    list-style-type:none;
}

.liDisplay {
  display: inline-block;
}

.socialIcons {
  border-radius:50%;
  border:1px solid white;
  padding:10px;
  background-color:white;
}

.socialIcons:hover{
    background-color:dodgerblue;
}