@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.headerBackground {
    background-color: black;
}

.pageBackground {
    background-image: url(background.jpg);
    padding: 27% 0;
    width: 100%;
    background-size: cover;
}
.skillsImg
{
    height:60px;
}
.pageBackgroundContent {
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.pageBackgroundHeader {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: white;
}

.socialIcons {
    height: 40px;
    border-radius: 10px;
}

.liDisplay {
    display: inline-block;
}

li {
    list-style-type:none;
}
.skillsContext
{
    font-weight:bold;
}
.bootsrapIcon
{
    border-radius:10px;
    display:inline-block;
    padding:5px 0;
    color:white;
    width:60px;
    text-align:center;
    background-color:purple;
    font-size:24px;
}