@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kaushan+Script&display=swap');
.blockColor
{
    background-color:black;
}
.skillsImg
{
    height:60px;
}
.skillsContext
{
    font-weight:bold;
}
.bootsrapIcon
{
    border-radius:10px;
    display:inline-block;
    padding:5px 0;
    color:white;
    width:60px;
    text-align:center;
    background-color:purple;
    font-size:24px;
}
p,h2,h1,li,h4,h5{
    color:white;
}

h2,h1,li,h4,h5{
   font-family:'Kaushan Script', cursive;
}

p{
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
}

.headingBorder{
    border-bottom:3px solid dodgerblue;
}