.CompaniesBlock
{
    background-color:silver;
    border-radius:5px;
    font-size:25px;
    padding:3% 0;
    word-wrap:break-word;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
}
.visitWebsite
{
    color:white;
    background-color:dodgerblue;
    border-radius:5px;
    padding:6px;
}
