.id1
{
    background-color:white;
    width:32%;
    border-radius:10px;
}
div
{
    display:inline-block;
}
h2
{
    color:skyblue;
    padding-left:15px;
}
h3
{
    color:grey;
    padding-left:15px;
}
p{
    padding-left:15px;
    padding-right:15px;
}