.cards_style
{
    background-color:white;
    width:32%;
    height:300px;
    border-radius:10px;
}
.cards_space
{
    margin-right: 2%;
}
body{
    background-color: silver;
}
h1
{
    margin-bottom:30px;
}
div
{
    display:inline-block;
}
h2
{
    color:dodgerblue;
}
h3
{
     margin-top:-10px;
    color:grey;
}
.cards_padding{
    padding-left:15px;
    padding-right:15px;
}
.heading_border
{
    border-bottom:2px solid dodgerblue;
}
.heading_font
{
    font-weight:normal;
}