body
{
    background-image: url(assets/rabbit.jpeg);
    height:350px;
    width:527px;
    background-size:contain;
    background-repeat:no-repeat;
}
.frame
{
    width:250px;
    height:250px;
    border:15px solid orange;
    margin-left:155px;
    margin-top:10%;
}

