.col-2Blue
{
    background-color:#4a86e8;
    height:75px;
}
.col-2Violet
{
    background-color:#5a57bb;
    height:75px;
}
.col1firstRowGreen
{
    background-color:#09885a;
    height:50px;
}
.col1firstRowViolet
{
    background-color:#5a57bb;
    height:50px;
}
.col1SecondrowOrange
{
    background-color:#ff9900;
    height:50px;
}
.col1ThirdrowGreen
{
    background-color:#09885a;
    height:50px;
}
.col1ThirdrowViolet
{
    background-color:#5a57bb;
    height:50px;
}
.col1ThirdrowGreen
{
    background-color:#09885a;
    height:50px;
}