.block
{
    background-color:dodgerblue;
    color:white;
    text-align:center;
    padding:20px;
}
.descriptionBlock
{ 
    background-color:lavender;
    margin-bottom:15px;
}
.margin-top
{
    margin-top:15px;
}
.descriptionFontSize
{
    font-size:8px;
}
.headingBorder
{
    border-bottom:3px solid dodgerblue;
}
.headingFont
{
    font-weight:normal;
}
h1
{
    margin-bottom:30px;
}
