.bIcon {
    height: 25px;
}

li {
    list-style-type: none;
    display: inline-block;
}

.xlBackgroundImgContent {
     font-size:20px;   
}
.title {
    font-weight: bold;
}

.backgroundImg {
    background-image: url(assets/background.jpg);
    width: 100%;
    background-image: contain;
}

.profile_thumbnailImg {
    height: 80px;
    border-radius: 30px;
}

.backgroundImgContent {
    color: white;
}
.backgroundGradient
{
    padding-top:25%;
    padding-bottom:25%;
    background-color:#00000050;
}
.context {
    font-size: 11px;
}

.contextSubHead {
    opacity: 0.5;
}

.imagesContainer {
    background-color: whitesmoke;
}

.cardImages {
    width: 100%;
}

.socialIcons {
    height: 25px;
}
