@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Roboto|Akronim|Open+Sans|Fira+Sans|Source+Sans+Pro:400,700&display=swap');
.containerstyle
{
    background-color:white;
    width:32%;
    border-radius:10px;
}
body{
    background-color: silver;
}
div
{
    display:inline-block;
}
h2
{
    color:dodgerblue;
}
h3
{
    margin-top:-10px;
    color:grey;
}
.titlepadding{
    padding-left:15px;
    padding-right:15px;
}
.headingfont
{
    font-weight:normal;
}
.hobbiesimg
{
    height:50px;
    width:50px;
    margin-right:20px;
}
li
{
    list-style-type:none;
}
.margin
{
    margin-bottom:30px;
}
.val
{
    vertical-align:middle;
}
.fsize
{
    font-size:24px;
}
.headingborder
{
    border-bottom:2px solid dodgerblue;
}
.contact
{
    font-size:30px;
    margin-bottom:30px;
    color:#595959;
}
.iconimg
{
    width:23.5%;
    height: 40px;
}
.informationfont
{
    font-weight:bold;
}
.marginright
{
    margin-right: 2%;
}
.informationmargin{
    margin-bottom:50px;
}
.followmargin
{
    margin-bottom:40px;
}
.followaligncolor
{
    text-align: center;
    color:royalblue;
    font-size:24px;
}
.contentfont
{
    font-family: "Source Sans Pro";
}
