@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
.gmailImg
{
    height:30px;
    width:40px;
}
.gmailText
{
    opacity:0.7;
}
.signinAlign
{
    text-align:right;
}
li{
    list-style-type:none;
    display:inline-block;
    margin-right:10px;
    opacity:0.7;
    margin-bottom:20px;
}
.LandingPageSection
{
    background-color:ghostwhite;
}
.LandingPageSectionContentMobile
{
    margin-top:30px;
    margin-bottom:30px;
}
.LandingImgMobile
{
    height:400px;
    width:400px;
}
.LandingImgDesktop
{
    margin-top:40px;
   width:100%;
}
.LandingPageSectionHeadDesktop
{
    margin-top:70px;
    margin-bottom:30px;
}
.LandingPageSectionContentDesktop
{
    margin-top:30px;
    margin-bottom:30px;
}
.playstoreImg{
    height:50px;
    width:170px;
}
.experienceImg
{
    margin-top:50px;
    width:100%;
    margin-bottom:50px;
}
.CardsSpacingMobile
{
    margin-top:30px;
    margin-bottom:20px;
}
.imagesWidth
{
    width:100%;
}
.CardsSpacingHeadDesktop
{
    margin-top:40px;
    margin-bottom:30px;
}
.CardsSpacingContentDesktop
{
    margin-top:30px;
    margin-bottom:100px;
}
.takeActionHeadDesktop
{
    margin-top:120px;
}
.takeActionDesktopContent
{
    margin-bottom:120px;
}
.takeActionDesktopImg
{
    margin-top:120px;
    margin-bottom:120px;
}
.GmailLogo
{
    height:60px;
    width:80px;
}
.footerGoogle
{
    margin-top:30px;
    opacity:0.6;
    font-size:30px;
    margin-bottom:30px;
}
.footerContentOpacity
{
    opacity: 0.6;
}
.dropdownStyle
{
    margin-top:100px;
}
.footerDesktop
{
    margin-top:30px;
    opacity:0.6;
    font-size:12px;
    margin-bottom:30px;
}
.footerDesktopImg
{
    margin-top:50px;
    opacity:0.6;
    font-size:12px;
      margin-bottom:30px;
}
