@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
.gmailImg
{
    height:30px;
    width:40px;
}
.gmailText
{
    opacity:0.7;
}
.signinAlign
{
    text-align:right;
}
li{
    list-style-type:none;
    display:inline-block;
    margin-right:15px;
    opacity:0.7;
}
.LandingPageSection
{
    background-color:ghostwhite;
}
.LandingPageSectionContentMobile
{
    margin-top:30px;
    margin-bottom:30px;
}
.LandingImgMobile
{
    height:400px;
    width:400px;
}
.LandingImgDesktop
{
    margin-top:40px;
   width:100%;
}
.LandingPageSectionHeadDesktop
{
    margin-top:70px;
    margin-bottom:30px;
}
.LandingPageSectionContentDesktop
{
    margin-top:30px;
    margin-bottom:30px;
}
.playstoreImg{
    height:50px;
    width:170px;
}
.experienceImg
{
    margin-top:50px;
    width:100%;
    margin-bottom:50px;
}
.CardsSpacingMobile
{
    margin-top:30px;
    margin-bottom:20px;
}
.imagesWidth
{
    width:100%;
}
.CardsSpacingHeadDesktop
{
    margin-top:40px;
    margin-bottom:30px;
}
.CardsSpacingContentDesktop
{
    margin-top:30px;
    margin-bottom:100px;
}
.takeActionHeadDesktop
{
    margin-top:140px;
}
.takeActionDesktopContent
{
    margin-top:30px;
    margin-bottom:140px;
}
.takeActionDesktopImg
{
    margin-top:140px;
    margin-bottom:140px;
}
.GmailLogo
{
    height: 60px;
    width:30px;
}