@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Roboto|Akronim|Open+Sans|Fira+Sans|Source+Sans+Pro:400,700&display=swap');
body
{
    background-image:url(assets/bg-image.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    margin:0px;
}
h1
{
    text-align:center;
    color:white;
    font-size:40px;
    font-family:"Roboto";
    margin-top:5px%;
}
h2
{
    text-align:center;
    color:white;
    font-size:30px;
    font-family:"Roboto";
    margin-top:-3%;
    margin-bottom:10.5%;
}
.middleimg
{
    /*background-image:url(../../dog.jpg);*/
    /*-webkit-clip-path: circle(50% at 50% 50%);*/
    height:200px;
    width:200px;
    /*margin:auto;*/
    margin-top:20%;
    margin-left:40%;
    border:4px solid white;
    border-radius:50%;
}
.navtoolbar
{
    margin-left:20px;
    margin-right:20px;
    background-color:white;
    border-radius:40px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:-8%;
}
span
{
    margin-right:20px;
    font-family:"Roboto";
}
.navtoolbaralign
{
    text-align:center;
}
.toolbarborder
{
    background-color:grey;
    height:50px;
    width:100%;
}