*{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width:400px;
}

#result {
    padding:10px;
    background-color: black;
    color: white;
    text-align: right;
    font-size:50px;
    /*font-weight:bold;*/
    width:100%;
}

.numbers{
    display:flex;
    flex-direction:column;
    padding:15px;
    flex:1;
}

.operators{
    display:flex;
    flex:1;
}

.values{
    display:flex;
    flex:1;
    /*border:4px solid blue;*/
}

.digits{
    display: flex;
    flex-direction:column;
    flex:3;
    /*border:2px solid black;*/
}

.digits >*{
    display:flex;
}
.val {
    padding:20px;
    margin:5px;
    flex:1;
    font-weight:bold;
    background-color:white;
    border-radius: 6px;
    font-size: 15px;
    box-shadow:5px 0 5px 2px;
}

.equals{
    flex:1;
    display:flex;
}

#equal
{
    padding:15px;
    margin:5px;
    flex:1;
    background-color:dodgerblue;
    color:white;
    border-radius:6px;
    box-shadow: 5px 0 5px 2px #888888;
}

.ac{
   background:red;
   color:white;
   font-weight:bold;
   border-radius:6px;
   box-shadow: 5px 0 5px 2px #888888;
}

.operator{
    /*background-color:dodgerblue;*/
    color:dodgerblue;
    font-size:20px;
}

.clear{
   background:black;
   color:white;
   /*padding:20px;*/
   box-shadow: 5px 0 5px 2px #888888;
}