.navBarList{
    list-style-type: none;
}

.navOpacity {
    opacity: 0.6;
}

.navDisplay {
    display: inline-block;
}

.navListItemsSpacing {
    margin-right: 15px;
}

.navTopicsSection {
    border-bottom: 4px solid dodgerblue;
}

.topicsSec {
    padding-top: 40px;
    background-color:whitesmoke;
    padding-bottom: 40px;
}

.signUpSec {
    background-color: black;
}

.githubLogo {
     filter:invert(75%);
}

.cardImg {
    height: 80px;
    width: 80px;
}
.hashBox {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    padding-top:12px;
}

.featuredTopicsContent {
    opacity: 0.5;
    font-size: 14px;
}

.star {
    font-size: 13px;
    font-weight: bold;
    border: 1px solid silver;
}

.featuredTopicsImg {
    height: 50px;
    width: 50px;
}

.popularTopics {
    background-color: aliceblue;
    color: dodgerblue;
    font-size: 13px;
    list-style-type: none;
    display: inline-block;
}

.navBarText {
    color: white;
}
.loadmoreButton
{
    border:1px solid silver;
}
.loadmoreButtonContent
{
    color:dodgerblue;
    font-weight:bold;
    font-size:15px;
    opacity:0.8;
}
.dropdownBackground
{
    background-color:black;
}

/***/
/*{*/
/*    border:2px solid red;*/
/*}*/