li {
    display: inline-block;
    list-style-type: none;
    font-size: 17px;
}

.headerLink {
    color: black;
    opacity: 0.6;
    font-size:14px;
}

.headingLineHeight{
    line-height:50px;
}

.logo {
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    padding: 6px;
}

.simpleAndHandyProcessPara{
    width:100%;
    margin:auto;
}

@media only screen and (min-width:768px){
    .simpleAndHandyProcessPara{
        width:700px;
    }
}
    
.logoHeading {
    display: inline-block;
}

.buttonStyle{
    background-color:darkorange;
    color: white;
    font-weight: bold;
}
.carImage{
    height:200px;
    width:300px;
    border-radius:10px;
}

@media only all and (min-width:768px){
    .carImage{
        height:250px;
        width:320px;
    }
}

@media only all and (min-width:992px){
    .carImage{
        height:340px;
        width:480px;
    }
}

.blockBackGround {
    background-color: aliceblue;
    border: none;
}

.processImage {
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
}

.bar {
    height: 3px;
    width: 50px;
    background-color: orange;
    text-align: center;
}

.barMargin {
    margin: auto;
}

@media only screen and (min-width:576px){ 
    .carDelivery{
        padding-left:30px;
    }
}

@media only screen and (min-width:768px){
    .carDelivery{
        padding-left:25px;
    }
}

@media only screen and (min-width:992px){
    .carDelivery{
        padding-left:35px;
    }
}

.opacity {
    opacity: 0.5;
}

.ourTeamImg {
    border-radius: 15px;
}

.double_quote {
    height: 20px;
}

.icons {
    height: 25px
}
.handyProcessBlockPadding{
    padding-bottom:90px;
}
.ourTeamBlockPadding{
    padding-top:130px;
    padding-bottom:100px;
}
.deliveryBlockPadding{
    padding-top:40px;
    padding-bottom:60px;
}
.footerPadding{
    padding-bottom:20px;
    padding-top:20px;
}


