.blockstyle
{
    background-color:slateblue;
    height:40px;
    display:inline-block;
}
.blockstyle2
{
    background-color:dodgerblue;
    height:40px;
    display:inline-block;
}
.spacebetweenblocks
{
    margin-top:10px;
}
.first
{
    width:100%;
}
.sec
{
    width:49%;
}
.mar
{
    margin-right:2%;
}
.third
{
    width:32%;
}
.four
{
    width:23.5%;
}
.fifth
{
    width:6.5%;
}