.id1
{
    background-color:slateblue;
    height:40px;
    display:inline-block;
}
.id2
{
    background-color:dodgerblue;
    height:40px;
    display:inline-block;
}
.id3
{
    margin-top:10px;
}
.sec
{
    width:49%;
}
.mar
{
    margin-right:2%;
}
.third
{
    width:32%;
}
.four
{
    width:23.5%;
}
.fifth
{
    width:6.5%;
}