.heading_border
{
    border-bottom:2px solid dodgerblue;
}
.heading_font
{
    font-weight:normal;
}
img
{
    height:50px;
    width:50px;
    margin-right:20px;
}
li
{
    list-style-type:none;
}
.hobbies_spacing
{
    margin-bottom:20px;
}
.img_align
{
    vertical-align:middle;
}
.hobbies_fsize
{
    font-size:24px;
}