body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}
.flexbox {
  display: flex;
  flex-flow:row wrap;
}

.item{
  height:50px;
}

.item1{
  background-color:orange;
  flex:1 1 614px;
}

.item2{
  background-color:saddlebrown;
  flex:1 1 400px;
}

.item3{
  background-color:green;
  flex:1 1 300px;
}