body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}
.flexbox {
  display: flex;
  flex-flow:row wrap;
}

.item{
  height:50px;
  flex:initial;
  /*max-width:100%;*/
}

.item1{
  background-color:orange;
}

.item2{
  background-color:saddlebrown;
}

.item3{
  background-color:green;
}