h1
{
    text-align:center;
}
.PricingContentAlign
{
    text-align:center;
}
.CardbuttonWidth
{
    margin-top:10px;
    width:90%;
}
.spaceBetweenCards
{
    margin-bottom:20px;
}
img
{
    width:50px;
    height:50px;
}
.opacity
{
    opacity:0.5;
}
h2{
    font-weight:normal;
}
.bootstrapicon
{
    border-radius:5px;
    display:inline-block;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    text-align:center;
    background-color:purple;
    font-size:24px;
}
.headerAlignment
{
    text-align:right;
}
li
{
    list-style-type:none;
}
.headerList
{
    display:inline-block;
    margin-right:20px;
}

