@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Roboto|Akronim|Open+Sans|Fira+Sans|Source+Sans+Pro:400,700&display=swap');
.content-align
{
    text-align: center;
    margin-bottom:30px;
}
body
{
    background-color:lavender;
}
span
{
    display:inline-block;
}
.divstyle
{
    margin-left: 20%;
    margin-right:20%; 
}
.divcontainerstyle
{
    margin-left:5%;
    text-align: center;
}
.techstyle
{
    background-color:navy;
    color:white;
    margin-right:2%;
    text-align: center;
    border-radius: 20px;
}
.imgpadding
{
    padding-left:140px;
}
.comimgpad
{
    padding-left:90px;
}
.datascientstimgpad
{
    padding-left: 170px;
}
.managementstyle
{
    color:grey;
    margin-right:2%;
    background-color:white;
    border:1px solid grey;
    border-radius:20px;
}
.educationstyle
{
    background-color:white;
    border:1px solid black;
    font-family:"Roboto";
    border-radius:20px;
    margin-right:2%;
}
.entrepreneurstyle
{
    background-color:white;
    border:1px solid black;
    font-family:"Roboto";
    border-radius:20px;
}
.categories_style
{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    font-size:12px;
    font-family: "Roboto";
}
.comingsoon
{
    font-size:10px;
    color:grey;
    margin-left:-17%;
    margin-top:-10px;
    margin-bottom:5%;
    text-align: center;
}
.techcontainer
{
    width:28.5%;
    background-color:white;
    font-size:15px;
    height:40px;
    padding-left:2%;
    vertical-align:middle;
    padding-top:20px;
    border-radius:5px;
    display:inline-block;
    margin-bottom: 5%;
}
.datascientstcontainer
{
    width:29%;
    background-color:white;
    font-size:15px;
    height:40px;
    padding-left:2%;
    border-radius: 5px;
    vertical-align:middle;
    padding-top:20px;
    display:inline-block;
    margin-bottom: 5%;
}
.techcatalogueborder
{
     border-left:4px solid dodgerblue;
}
.arvrcatalogueborder
{
      border-left:4px solid silver;
}
.cybersecurity_container
{
    width:28.5%;
    background-color:white;
    font-size:15px;
    height:40px;
    padding-left:2%;
    margin-left:20%;
    vertical-align:middle;
    padding-top:20px;
    border-radius: 5px;
    display:inline-block;
    margin-bottom: 5%;
}
p
{
    display: inline-block;
}
.marginright
{
    margin-right:2%;
}
.waitlist
{
    background-color:darkorange;
    color:white;
    font-family: "Roboto";
    border-radius:5px;
    margin-left:45%;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 25px;
    padding-right:25px;
    margin-bottom:-40%;
}
.iit
{
    margin-left:45%;
    font-size:12px;
}
